html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}


body {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  /* include your font family and default line-height */
}

img {
  width: 100%;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

.titleline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-family: 'IM Fell Double Pica', serif;
  font-size: 20px;
}

.btn {
  background-color: #7A906C;
  border: none;
  color: #FFFFFF;
  border-radius: 8px;
  text-decoration: none;
  padding: 8px;
  justify-content: center;
  display: inline-block;
}

.btn:hover {
  background-color: #5F6D55;
  border-color: #454E3F;
}

.browse {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  text-align: center;
}


/* Default styling for all screens ends here */

/* Add media query for tablet */




/* Add media query for desktop */
